doctype html
html(lang="en")
  head
    title Wiki Server
    link(rel="stylesheet", href="/css/style.css")
  body
    div#panel
    section#content!= content
    ul#outline
    script(src="/js/app.js")
